.logo{
   background-image:url(img/pattern.png) ;
   background-color: rgb(97, 97, 241);
   background-size: contain;

}

#logo1 {    
    width: 300px;
}
span {
    color: blue;
}
th td tr {
    
    text-align: center;
    
    
}

table {
    height: 150px;
    width: 500px;
    margin: 0 auto;

}

.color1 {
    color: white;
    background-color: #4EA0FF;
}

.color2 {
    background-color:#B1E5F2 ;
}

h4{
    color: grey;
}

#textimg1 {
    background:url(img/monitor.jpg) ;
    width: 200px;
    height: 200px;
    
}

#textimg2 {
    background: url(img/graph.jpg);
    width: 200px;
    height: 200px;
    
}


