.pattern{
   background-image:url(img/pattern.png) ;
   background-color: rgb(97, 97, 241);
   background-size: contain;
}

#pattern1 {    
    width: 300px;
}
span {
    color: blue;
}
th tr td {
    width: 50px;
    
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 20 px;
}

.color1 {
    color: white;
    background-color: #4EA0FF;
}

.color2 {
    background-color:#B1E5F2 ;
}

h4{
    color: grey;
}

