.pattern{
   background-image:url(img/pattern.png) ;
   background-color: rgb(97, 97, 241);
   background-size: contain;
}

#pattern1 {    
    width: 200px;
}

th td  {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.color1 {
    color: white;
    background-color: #4EA0FF;
}

.color2 {
    background-color:#B1E5F2 ;
}

h4{
    color: grey;
}

